n8n-workflows/quick-capture.json
{
  "name": "Quick Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3afc4cdd-427a-4572-842c-001ef4aec056",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "9ac67810-d107-47a1-ba21-97139c25dbfc"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst text  = data.text  || data.body || data.content || '';\nconst title = data.title || '';\n\nif (!text) throw new Error('No text provided');\n\nconst now  = new Date();\nconst pad  = n => String(n).padStart(2, '0');\nconst ts   = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\nconst heading = title || ts;\nconst dateStr = now.toISOString().replace('T', ' ').substring(0, 19) + ' UTC';\n\nconst content = `# ${heading}\\n\\n${text}\\n\\n---\\ncaptured: ${dateStr}\\n`;\nconst filename = `/mnt/docs/Local-Network-Hub/03-Inbox/${ts}.md`;\n\nconst fs = require('fs');\nfs.writeFileSync(filename, content, 'utf8');\n\nreturn [{ json: { ok: true, file: filename, title: heading } }];\n"
      },
      "id": "43296c9b-8557-4600-9938-66ee7b3989c5",
      "name": "Write Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "34a9af0f-94c3-43f6-8a77-bc05305f6179",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Write Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Note": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}